*{
    padding:0;
    margin:0;
}


body,html{
    width:100%;
    height: 100%;
    background-color: black;
}

h1{
    color:chocolate;
    font-size: 60px;
}
#sks{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    }

#box{
    border:1px solid white;
    height:500px;
    width: 500px ;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box h1{
    color:rgb(248, 248, 248);
    font-size: 160px;
}

button{
    border-radius: 30px;
    font-size:30px;
    padding:13px;
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}