*{
    padding:0;
    margin:0;
}


body,html{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sks{
    margin: 250px;
    padding:15px 15px;
    height: 200px;
    width:200px;
   color:white;
   border:1px solid white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:10px;
}
#sks button{
    font-size: 15px;
    padding:5px;
    background-color: red;
}

#sks p{
    color:green;
}